<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Mariage Laetitia und Stephane</title>
  <meta name="author" content="Steph">
  <link rel="stylesheet" href="info.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Ma+Shan+Zheng|Dancing+Script|Indie+Flower|Tangerine:700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <div class="info_panel">
      <h1>Laetitia & Stéphane</h1>
      <p>Wir beabsichtigen, das Hotel im Dorf zu kontaktieren um Zimmer zu reservieren und einen Preis auszuhandeln (auf eure kosten). Bei Interesse kreuzt bitte das Kästchen an.
      </p>
      <br />
      <form action="#" th:action="@{/userform}" th:object="${userForm}" method="post">
      	<label class="form-control">
      		<select th:field="*{count}" th:required="required">
      			<option value="1">1</option>
      			<option value="2">2</option>
      			<option value="3">3</option>
      			<option value="4">4</option>
      			<option value="5">5</option>
      			<option value="6">6</option>
      			<option value="+">+</option>
      		</select> Wieviel Personen werden teilnehmen?
      		<br/>
      		<input type="checkbox" name="takeHostel" th:field="*{takeHotel}"/> Wir wünschen uns ein Zimmer
		</label>
        <p><input type="submit" value="Fortsetzen" class="b-link"/> <input type="reset" value="Reset" class="b-link"/></p>
    </form>

  </div>
</body>
</html>