<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Mariage Laetitia et Stephane</title>
  <meta name="author" content="Steph">
  <link rel="stylesheet" href="info.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Ma+Shan+Zheng|Dancing+Script|Indie+Flower|Tangerine:700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <div class="info_panel">
      <h1>Laetitia & Stéphane</h1>
      <p>See you soon !
      </p>

  </div>
</body>
</html>